html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
}
form {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    font-size: 10px;
}
form select,
form select option {
    font-size: 10px;
}
.btn {
    margin: 50px auto;
    height: 40px;
    width: 150px;
    background: #F4DB40;
    color: #111224;
    font-size: 10px;
}
.btn:hover {
    cursor: pointer;
}
.conjunto {
    width: calc(50% - 1rem);
    margin: 0 auto;
}
.conjunto h2 {
    text-align: center;
    margin-bottom: 15px;
}
.conjunto .formElement {
    width: 50%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}
img {
    display:block;
    margin:auto;
    width: 300px;
}
.borrar {
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    width: 150px;
    background: #F4DB40;
    font-size: 10px;
}
.borrar a {
    text-decoration: none;
    text-transform: uppercase;
}